@font-face {
  font-family: "Neue Montreal book";
  src: url(./fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Book.otf);
  font-weight: book;
}
@font-face {
  font-family: "Neue Montreal bold";
  src: url(./fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Neue Montreal italic";
  src: url(./fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Italic.otf);
  font-weight: italic;
}
@font-face {
  font-family: "Neue Montreal medium";
  src: url(./fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Medium.otf);
  font-weight: medium;
}
@font-face {
  font-family: "Neue Montreal SemiBolditalic";
  src: url(./fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-SemiBolditalic.otf);
  font-weight: SemiBolditalic;
}
@font-face {
  font-family: "Neue Montreal thin";
  src: url(./fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Thin.otf);
  font-weight: thin;
}

@media screen and (max-width: 886px) {
  .img-col {
    display: none;
  }
}

* {
  outline: 0px solid red;
  font-family: "Neue Montreal book", sans-serif;
  font-weight: book;
  z-index: 5;
}

.app {
  min-height: 200vh;
}
section {
  z-index: 7;
}
.resume_button {
  border-radius: 30px;
  background-color: #3cff00a7 !important ;
}

.nav-bar {
  width: 100vw;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(2px);
  background-color: rgba(17, 17, 17, 0.427);
  position: fixed;
  z-index: 1;
  color: white;

  /* Rectangle 3 */
}

header {
  z-index: 0 !important;
}

.nav_button {
  border-radius: 0% !important;
}
.nav_button:hover {
  background-color: #3cff00a7 !important ;
  outline: none;
  border-radius: 0%;
}

.landing-section {
  height: 100vh;
}

.blacktext {
  color: black;
}

.mosepointer {
  cursor: pointer;
}

.name-section {
  position: absolute;
  top: 30%;
}
.tech-logo {
  transition: all 0.2s;
}
.tech-logo:hover {
  transform: scale(1.3);
}

.wrap {
  width: fit-content;
}

.project-tittle {
  border-bottom: 4px solid #ff0000;
  border-radius: 4px;
}

.tech-section {
  min-height: 70vh;
}
.projects-section {
  min-height: 95vh;
}

.project-card {
  transition: all 0.5s;
  cursor: pointer;
}

.project-card:hover {
  transform: scale(1.1);
}
