@font-face {
  font-family: "Neue Montreal book";
  src: url(./fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Book.otf);
  font-weight: book;
}
@font-face {
  font-family: "Neue Montreal bold";
  src: url(./fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Neue Montreal italic";
  src: url(./fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Italic.otf);
  font-weight: italic;
}
@font-face {
  font-family: "Neue Montreal medium";
  src: url(./fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Medium.otf);
  font-weight: medium;
}
@font-face {
  font-family: "Neue Montreal SemiBolditalic";
  src: url(./fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-SemiBolditalic.otf);
  font-weight: SemiBolditalic;
}
@font-face {
  font-family: "Neue Montreal thin";
  src: url(./fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Thin.otf);
  font-weight: thin;
}

* {
  outline: 0px solid red;
  font-family: "Neue Montreal book", sans-serif;
  font-weight: book;
}

.app {
  height: 200vh;
}
section {
  height: 100vh;
}
.resume_button {
  border-radius: 30px;
  background-color: #3cff00a7 !important ;
}

.nav-bar {
  width: 100vw;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(2px);
  background-color: rgba(17, 17, 17, 0.427);
  position: fixed;
  z-index: 1;
  color: white;

  /* Rectangle 3 */
}
.nav_button {
  border-radius: 0% !important;
}
.nav_button:hover {
  background-color: #3cff00a7 !important ;
  outline: none;
  border-radius: 0%;
}

.landing-section {
  height: 100vh;
}

Canvas {
  background: rgb(203, 71, 172);
  background: linear-gradient(0deg, rgba(203, 71, 172, 1) 0%, rgba(113, 113, 166, 0.603) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.blacktext {
  color: black;
}

.mosepointer {
  cursor: pointer;
}

.name-section {
  position: absolute;
  top: 30%;
}

.name-section h1 {
}
