* {
  outline: 0px solid red;
}

.app {
  height: 200vh;
}
section {
  height: 100vh;
}

.nav-bar {
  width: 100vw;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(2px);
  background-color: rgba(17, 17, 17, 0.427);
  position: fixed;
  z-index: 1;
  color: white;

  /* Rectangle 3 */
}

.about-content {
  height: 100vh;
}

Canvas {
  background: rgb(203, 71, 172);
  background: linear-gradient(0deg, rgba(203, 71, 172, 1) 0%, rgba(113, 113, 166, 0.603) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.name-section {
  position: absolute;
  top: 30%;
}

.blacktext {
  color: black;
}

.mosepointer {
  cursor: pointer;
}
